*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popular{
    display: grid;
    gap: 10px;
    /* width: 100%; */
    height: 100vh;
    color: white;
    /* justify-content: center;
    align-items: center; */
   
    
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); */
    
     grid-template-areas: "card1 card2 card3 card3"
                         "card4 card2 card5 card6"
                         
                           

}

/* #contin{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr) ;

} */

  
  .popular-card1,.popular-card2,.popular-card3, .popular-card4,
  .popular-card5, .popular-card6
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height:  300px; */
    background-color: aqua;
  }
  


  .popular-card1 {
    /* grid-area: card1; */
    /* background-image: url(./Assets/div.featureCard__imagep6pular1.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popular-card2 {
 
    /* background-image: url(./Assets/div.featureCard__imagepopular2.png); */
    grid-row: span 2;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popular-card3 {
    /* width:620px; */
    /* grid-area: card3; */
    /* background-image: url(./Assets/div.featureCard__imagepopular3.png); */
    background-repeat: no-repeat;
    grid-column: span 2;
    background-size: cover;
  }
  
   .popular-card4 {
    /* grid-area: card4; */
    /* background-image: url(./Assets/div.featureCard__imagepopular4.png); */
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .popular-card5 {
    /* grid-area: card5; */
    /* background-image: url(./Assets/div.featureCard__imagepopular5.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popular-card6 {
    /* grid-area: card6; */
    /* background-image: url(./Assets/div.featureCard__imagepopular2.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .popular-card7 {
    /* grid-area: card7; */
    /* background-image: url(./Assets/div.featureCard__imagepopular4.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .popular-card8 {
    /* grid-area: card8; */
    /* background-image: url(./Assets/div.featureCard__imagepopular3.png); */
    background-repeat: no-repeat;
    background-size: cover;
  } 