*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Assets/flight4.jpg);
    background-size: cover;
}

.nav-bar{
    width: 100%;
    /* height: 10vh; */
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 50px;


}
#m{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* font-size: 20px; */
}

.nav-links p{
    font-size: 20px;
}

.main-container{
    width: 100%;
    /* height: 90vh;    */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
    
    /* display: none; */
    /* border: 2px solid red; */
   


}
.nav-logo h1{
    /* color: rgb(235, 81, 81); */
}
.bus-register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    display: none;
    
}
.bus-register button{
    padding: 10px 30px;
    border: none;
    color: #ffff;
    outline: none;
    background-color: rgba(205, 77, 77, 0.856);
    border-radius: 10px;
    /* display: none; */
}

.main-table{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    /* border: 2px solid red; */
    padding: 30px 0px;
    /* display: none; */
   


}

.tabel-1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;

}
.tabel-2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    /* color: #ffff; */
    
}
.tabel-1 label{
    font-size: 20px;
}
.tabel-2 label{
    font-size: 20px;
}
.tabel-1 input{
    padding: 10px 50px 10px 5px;
    outline: none;
   
    border: 2px solid coral;
    border: none;
   

}
.tabel-2 input{
    padding: 10px 50px 10px 5px;
    background-color: transparent;
    outline: none;
    background-color: rgba(212, 42, 42, 0.856);
    /* background-color: #ffff; */
    border: none;

}


.travel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    /* border: 2px solid red; */
}
.travel input{
    padding: 8px 30px 8px 5px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.travel button{
    padding: 10px 40px;
    background-color: rgba(205, 77, 77, 0.856);
    color:#ffff;
    border: none;
    font-size: 20px;
    outline: none;
    margin-top: 20px;
    
}

@media(max-width:1000px){
    .nav-links p{
        font-size: 12px;
    }
    .nav-logo h1{
        font-size: 18px;
    }
    .travel input{
        padding: 10px 20px;
    }
    .travel{
        gap: 15px;
    }
    .tabel-1 input{
        padding: 10px 30px 10px 5px;

 
    }
    .tabel-2 input{
        padding: 10px 30px 10px 5px;

 
    }

    
}
#m{
    font-size: 25px;
}

@media(max-width:760px){
    .travel{
        flex-wrap: wrap;
    }
}
@media(max-width:600px){
    .nav-links{
        display: none;
    }
    #m{
        font-size: 15px;
    }
    body{
        background-size: cover;
    }
    .main-container{
        /* height: 200vh; */
        gap: 10px;
        justify-content: center;
    }
    .main-table{
        flex-direction: column;
    }
}
@media(max-width:500px){
    body{
        background-size: cover;
    }
}