*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    gap: 10px;
    background-color: #ffff;
    /* position: fixed;     */
}
.logo-sub{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}
.logo-sub h1{
    color: coral;
    /* font-style: italic; */
}
.logo-sub p{
    /* color: coral; */
    font-style: italic;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
#s:hover{
    color: coral;
    cursor:pointer;
}
.nav-bar input{
    width: 250px;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    outline: none;


}
.humberger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    display: none;

}
.side-bar{
    width: 100%;
    position: absolute;
    transform:translateX(-100%);
    height: 90vh;
    background-color:  orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    transition: all 1s ease;
 

}

.tour-cards:hover{
    transform:scale(1.1);
}

.side-close{

/* padding: 0px 0px 0px 400px; */
position: relative;
left: 180px;
  

}


.side-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
}

.side-links a{
    text-decoration: none;
    color: #ffff;
}


.bar{
    width: 25px;
    height: 5px;
    background-color: orangered;
    
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 3px solid coral;
    
}
.sign-close:hover{
    cursor: pointer;
    color: coral;
}
.nav-logo input:hover{
    border: 3px solid coral;
}
.nav-links button{
    padding: 10px 20px;
    background-color: #EB662B;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #ffff;

}


@media(max-width:1250px){

    .nav-links{
        gap: 30px;
        font-size: 15px;
    }
    .nav-bar{
        padding: 50px;

    }
    

   
}



@media(max-width:1150px){

    .nav-links{
        gap: 20px;
        font-size: 13px;
    }
    .nav-links button{
        font-size: 15px

    }
    
    .nav-bar{
        /* padding: 50px; */
    }

    .nav-logo img{
        width: 100px;
    }
    .nav-logo input{
        width: 100px;
    }

    .nav-links button{
        font-size: 12px;
    }
       
   
}


@media(max-width:800px){

   .nav-logo input{
    display: none;
   }
   .nav-bar{
    padding: 0px 50px;
   }

   
}

@media(max-width:550px){

  .nav-links{
    display: none;
  }
  .humberger{
    display: flex;
  }
 
    
 }




/* joy */

.joy{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(./Assets/pexels-pixabay-248771\ \(1\).jpg);
    background-size: cover;
}

.joy-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #ffff;
}
.joy-text h1{
    font-size: 90px;

}

.login{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 30px;
    flex-direction: column;
    padding: 50px 50px 100px 50px;
    border-radius: 10px;
    display: none;
    transform: scale(0.9);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
   
}

.close{
    position: absolute;
}
.login-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.login-close{
    position: absolute;
    left: 900px;
    bottom: 500px;
}
.login-close:hover{
    cursor: pointer;
    color: coral;
}
/* .login-bg{
    width: 100%;
    background-blend-mode: color;
    position: absolute;
    display: flex;
    justify-tracks: center;
    align-items: center;

} */


.login-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */

}
.login-msg{
    position:absolute;
    background-color: #E7E6E6;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    background-color: lightgreen;
    
    
    
}
.login-sub{
    padding: 30px 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
}
.login-msg img{
    width: 50px;
   
    
}
.login-page input{
    outline: none;
    padding: 15px 150px 15px 20px;
    border-radius: 5px;
    /* border: none; */
    outline: none;
    border: 1px solid black;

    
    /* background-color: #E7E6E6; */
}

.login-page input:hover{
    border: 2px solid coral;
}
.remainder{
    display: flex;
    justify-content: center;
    align-items: centere;
    gap: 10px;

}
.password{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


#pass:hover{
    
    color: coral;
}

.login-button button{
    padding: 15px 140px;
    border: none;
    outline: none;
    background-color: coral ;
    border-radius: 10px;
    color: white;

}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-img img{
    width: 470px;
    border-radius: 10px;
}
.close{
   position: relative;
   left: 400px;
}

/* ///////////sign-up//////////// */

    .sign-up{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;  
        display: none; 
        background-color: white;
        color: black;
        /* border-radius: 10px; */
        padding: 30px 50px;
    }

    @media(max-width:450px){
        .sign-up{
            padding: 20px 30px;
        }
        .sign-text h2{
            font-size: 18px;
        }
        .sign-text p{
            font-size: 12px;
        }

        .sign-row input{
            width: 200px;
    
        }
    }

    .sign-text p{
        width: 300px;
    }
    .sign-close{
        position: relative;
        left: 150px;
    }
    .sign-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:  center;
        flex-direction: column;
        gap: 20px;
        
        /* border: 1px solid red; */
    }
    .sign-row button{
        padding: 20px 0px;
        width: 100%;
        background-color: coral;
        border: none;
        outline: none;
        color: white;
    }
    .sign-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;


    }
    .sign-row label{
        width: 100%;
        text-align: start;
        /* border: 1px solid red; */
    }

    #p{
        width: 300px;
        text-align: center;
        font-size: 12px;

    }
    .sign-row input:hover{
        border: 3px solid coral;
    }
    .sign-row input{
        width:  300px;
        padding: 10px 10px;
        /* border: 2px solid coral; */
        outline: none;


    }
    .sign-row button:hover{
        cursor: pointer;
        
    }
    .success-img{
        position: absolute;
        padding: 100px 100px;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        display: none;
        background-color: #fffdfd;


    }
    .success-img img{
        width: 100px;
        
    }





.nav-box1{
    width: 50px;
    height: 50px;
    /* background-color: #b43737; */
    background-image: url(./Assets/pexels-olly-3769138.jpg);
    background-size: cover;
    border-radius: 10px;
}
.nav-box2{
    width: 50px;
    height: 50px;
    /* background-color: #b43737; */
    background-image: url(./Assets/pexels-pixabay-248771\ \(1\).jpg);
    background-size: cover;
    border-radius: 10px;
}
.nav-box3{
    width: 50px;
    height: 50px;
    /* background-color: #b43737; */
    background-image: url(./Assets/pexels-robert-stokoe-105922-1105840.jpg);
    background-size: cover;
    border-radius: 10px;
}
.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
}

.joy-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* color: #ffff; */
    padding: 10px 50px;
    background-color: #ffff;
    border-radius: 10px;
    /* border: 2px solid coral; */
    /* background-color: transparent; */
    
}
/* #color{
    color: black;
    font-size: large;
} */

.joy-nav button{
    padding: 15px 15px 15px 30px ;
    background-color: #EB662B;
    border: none;
    outline: none;
    color: #ffff;
    border-radius: 10px;
    font-size: 10px;
}
.joy-nav input:hover{
    border: 2px solid coral;
    border-radius: 5px;
}

.nav-text input{
    border: none;
    outline: none;
    padding: 5px 0px 5px 5px;
    background-color: #E7E6E6;
    

}

@media(max-width:1250px){
    .joy-cards h2{
        font-size: 15px;
    }
    .joy{
        background-size: cover;
    }

    .joy-nav{
        gap: 30px;
    }
    .joy-nav{
        padding: 5px 30px;
    }
    .nav-box{
        display: none;
    }
    .joy-text h1{
        font-size: 50px;

    }

}

@media(max-width:1000px){
        
    
    .joy-nav{
        gap: 30px;
    }
    .joy-nav{
        padding: 5px 30px;
    }
    .joy-text p{
        width: 300px;
        text-align: center;
        
    }

    .nav-box1{
        display: none;

    }
    .nav-box2{
        display: none;
    }
    .nav-box3{
        display: none;
    }

}

@media(max-width:900px){
    .login{
      padding: 50px 30px 50px 30px;
    }
    .login img{
        width: 400px;
    }
    .login #e{
        /* padding: 20px 10px 20px 10px; */
        width: 320px;

    }
    .login #p{
        /* padding: 20px 10px 20px 10px; */
        width: 320px;

    }
    .login h1{
        font-size: 20px;
    }
    .login-close{
        left: 260px;
        top: -2px;
        
    }


}

@media(max-width:800px){
    .login{
      padding: 40px 30px 40px 25px;
     
    }
    .login-row{
        flex-direction:column-reverse;
    }
    .login img{
        width: 250px;
    }
    .login #e{
        /* padding: 20px 10px 20px 10px; */
        width: 300px;

    }
    .login #p{
        /* padding: 20px 10px 20px 10px; */
        width: 300px;

    }
    .login h1{
        font-size: 18px;
    }
    .password{
        gap: 50px;
    }
    .login-button button{
        padding: 14px 110px;
    }


}

@media(max-width:800px){
    .login{
      padding: 30px 20px 30px 20px;
     
    }
  
    .login img{
        width: 160px;
    }
    .login #e{
        /* padding: 20px 10px 20px 10px; */
        width: 250px;

    }
    .login #p{
        /* padding: 20px 10px 20px 10px; */
        width: 250px;

    }
    .login h1{
        font-size: 18px;
    }
     
    

}

@media(max-width:900px){
        
    
    .joy-nav{
        gap: 20px;
    }
    .joy-nav{
        padding: 5px 20px;
    }

    .nav-text h2{
        font-size: 13px;
    }
    .joy-text h1{
        font-size: 35px;

    }

   

}
@media(max-width:750px){
        
    
  .nav-text h2{
    display: none;
  }
  .joy-cards p{
    display: none;
  }
  .joy-text p{
    font-size: 12px;
  }
  .joy-nav{
    padding: 3px 10px;
  }

   

}
@media(max-width:550px){
        
    
  .joy-nav{
    gap: 0px;
  }

  .joy-nav button{
    font-size: 12px;
    padding: 8px 8px 8px 18px;
  }
  
     
  
  }

  @media(max-width:400px){
        
    
  .joy-cards input{
    font-size: 10px;
  }
    
       
    
    }




/* .tourz */

.tourz{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0px 80px 0px;
}


.tourz-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
    padding: 0px 20px;
    /* border: 2px solid red; */

}
.card{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

 @media(max-width:1200px){
    .tourz-cards{
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    .card{
        align-items: center;
    }
    .card-text h3{
        font-size: 15px;
    }
    .card-text{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tourz h1{
        font-size: 20px;
    }
    .card-text1 p{
        font-size: 12px;

    }
 }

 @media(max-width:1200px){
    .trend-box{
        flex-wrap: wrap;
    }

    .trending h1{
        font-size: 20px;
    }
 }

/* trending */
.trending{
  width: 100%;
  padding: 0px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

 

}
.trend-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.trend-cards img{
    width: 120px;
}




/* tours */

.tours{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 100px 0px;

}

.tour-cards img{
    width: 230px;
}
.trend-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.tour-display{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    display: none;
}
.trend-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    
}
#see:hover{
    cursor: pointer;

    
}

.popular-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    gap: 20px;

}

.tours-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.tour-cards{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    background-color: #fffdfd;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.tour-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 0px 10px;
}
.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.card-footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
}

.tours-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


@media(max-width:1150px){
    .tours-row1{
        flex-wrap: wrap;
    }
    .tours-row2{
        flex-wrap: wrap;
    }
   
}

@media(max-width:550px){
     
   
    .popular-nav{
        padding: 0px 50px;
    }
    .popular-nav h1{
        font-size:20px;
    }
    .tour-text p{
          font-size: 12px;
          text-align: center;
    }
   
}
@media(max-width:520px){
     
    .tours h1{
        font-size: 20px;
    }
    .popular-nav{
        padding: 0px 30px;
    }
    .tour-text{
        align-items: center;
    }
   
   
}
#a{
    color: white;
    text-decoration: none;
}

/* grab */

.grab{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    padding:  50px 0px 100px 0px;
   



}

.grab-text{
    /* width: 50%; */
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
}
.grab-text h1{
    
    font-size: 50px;
}
.grab-text button{
    padding: 18px 35px;
    background-color: #EB662B;
    border: none;
    outline: none;
    color: #ffff;
    
    border-radius: 10px;
}
#grab-btn a{
    text-decoration: none;
    color: #ffff;
}

.grab-img{
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.grab-img img{
    width: 600px;
    border-radius: 10px;

}

.grab1{
    background-color: coral;
}
.gtext{
    display: none;
}

.grab2-img img{
    width: 800px;
    position: relative; 
    right: 250px; 
    
    
    border-radius: 12px;
    box-shadow: 10px 10px 10px 5px coral;

}



@media(max-width:1200px){

    .grab{
        flex-direction: column-reverse;
        /* display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px; */
    }
    .grab-text{
        text-align: center;
        align-items: center;
    }

    .grab-text h1{
        font-size: 30px;
    }
    .grab-img img{
        width: 500px;

    
    }
  
}

@media(max-width:800px){
  
    .grab-img img{
        width: 400px;
    }
    .grab-text h1{
        font-size: 22px;
    }
   
}

@media(max-width:550px){
    
 
    .grab-text{
        align-items: center;
        width: 300px;
        text-align: center;

    }
    .grab-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grab-img img{
        width: 250px;
    }
   
}

/* popular */
.main-popular{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popular{
    display: grid;
    gap: 20px;
    width: 80%;
    margin: 0,auto;
    padding: 100px 100px;
    /* padding: 0px 0px; */
    color: white;

   
    
    grid-template-columns: repeat(4,1fr);
    
    grid-template-areas: "card1 card2 card3 card3"
                         "card4 card2 card5 card6"
                         
                          

}
.popular-card2{
    width: 350px;
    padding: 0px 0px 0px 0px;
    
}

  
  .popular-card1, .popular-card2, .popular-card3, .popular-card4,
  .popular-card5, .popular-card6
  {
   
    /* width: 500px; */
    /* height:  300px; */
    padding: 100px 0px;
    border-radius: 10px;
    background-color: aqua;
        display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .popular-card1 {
    grid-area: card1;
    background-image: url(./Assets/div.featureCard__imagep6pular1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popular-card2 {
    /* height: 620px; */
    grid-area: card2;
    background-image: url(./Assets/div.featureCard__imagepopular2.png); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popular-card3 {
    /* width:620px; */
    grid-area: card3;
    background-image: url(./Assets/div.featureCard__imagepopular3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
   .popular-card4 {
    grid-area: card4;
    background-image: url(./Assets/div.featureCard__imagepopular4.png);
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .popular-card5 {
    grid-area: card5;
    background-image: url(./Assets/div.featureCard__imagepopular5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popular-card6 {
    grid-area: card6;
    background-image: url(./Assets/div.featureCard__imagepopular2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media(max-width:1500px){
    /* .popular-card1, .popular-card2, .popular-card3, .popular-card4,
    .popular-card5, .popular-card6{
        padding: 100px 0px;
        background-size: cover;
    } */

    .popular{
       display: none;

    }

  }
  

  
  /* top/////////////// */


.top{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0px ;
    background-color: #f0ebeb;
}



.top-cards{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.top-box{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    background-color: #fffdfd;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.top-box:hover{
    transform: scale(1.1);
}
.top-box img{
    width: 230px;
}
.top-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 0px 10px;
}
.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.card-footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
}

.top-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.top-footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
}

@media(max-width:1200px){
    .top-cards{
        flex-wrap: wrap;
    }
}


/* customer////////////////////////////// */

.reviews{
    width: 100%;
    padding: 100px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.review-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.review-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.review-text h2{
    width: 800px;
    text-align: center;
}


@media(max-width:1000px){
    .review-img h1{
        font-size: 30px;
    }
    .review-text h2{
        font-size: 18px;
        width: 400px;
        text-align: center;
    }

}

@media(max-width:500px){
    .review-img h1{
        font-size: 20px;
    }
    .review-text h2{
        font-size: 13px;
        width: 300px;
        text-align: center;
    }
  
    .review-img img{
        width: 100px;
    }

}

/* .booking /////////////////////////////////// */

.booking{
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
    background-image: url(./Assets/textbg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    color: #ffff;
    border-radius: 15px;
}

.booking-text{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    
}

.booking-text h1{
    width: 400px;
    font-size: 40px;
}
.booking-text p{
    width: 300px;
}

.booking-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: column; */
    gap: 15px;
}

.booking-input input{
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 10px;

}
.booking-input button{
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
}

@media(max-width:900px){
    .booking{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .booking-text h1{
        font-size: 30px;
        width: 300px;
    }
    .booking-text p{
        font-size: 15px;
    }
    .booking-input input{
        font-size: 15px;
    }
}

@media(max-width:450px){

    .booking-text{
        display: flex;
        justify-content: center;
        align-items: center;
    
      
      }
   
    .booking-text h1{
        font-size: 20px;
    }
    .booking-text p{
        font-size: 12px;
    }
    /* .booking-input input{
    padding: 10px 0px;
    } */
}


/* .articles//////////////////////////////////// */

.articles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px  0px;
    gap: 30px;
    


}
.article-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.article-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    /* gap: 10px;    */

}

.articles-cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    
}

.articles-cards:hover{
    transform: scale(0.9);
}

.article-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#p1{
    width: 300px;
}
.articles-cards img{
    width: 400px;
}


@media(max-width:1200px){
    .article-img{
        flex-wrap: wrap;
    }
}


@media(max-width:500px){
    .article-head h1{
        font-size: 20px;
    }
    .article-head{
        padding: 0px 50px;
    }
   .articles-cards img{
    width: 300px;
   }
}


/* //////////////////////////////////////////////// */



.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E7E6E6;
    flex-direction: column;
    padding: 0px 0px 100px 0px;
}

.speak{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    gap: 90px;
    align-items: center;
    padding: 0px 100px;
    background-color: #E7E6E6;
    
}

.footer-contact{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 100px;
   
}


.contact-card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.contact-text{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.contact-input input{
    padding: 10px  20px;
    border: none;
    outline: none;
    border-radius: 10px;

}

.contact-input button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;

}

@media(max-width:1200px){
    .footer-contact{
        flex-wrap: wrap;
        align-items: centere;
    }
  
}

@media(max-width:500px){
   .contact-card h2{
    font-size: 15px;
   }
   .speak{
  display: none;
   }
   .footer{
    gap: 0px;
   }
  
}







